{% extends 'base.html.twig' %}

{% block title %}New AccountActivity{% endblock %}

{% block body %}
    <h1>Create new AccountActivity</h1>

    {{ include('account_activity/_form.html.twig') }}

    <a href="{{ path('app_account_activity_index') }}">back to list</a>
{% endblock %}
