{% extends 'base.html.twig' %}

{% block title %}New Sepa{% endblock %}

{% block body %}
    <h1>Create new Sepa</h1>

    {{ include('sepa/_form.html.twig') }}

    <a href="{{ path('app_sepa_index') }}">back to list</a>
{% endblock %}
