<footer class="p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">IFA02</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/" class="mr-4 hover:underline md:mr-6 ">Home</a>
        </li>
        {% if is_granted("ROLE_USER") %}
            <li>
                <a href="/dashboard" class="mr-4 hover:underline md:mr-6">Dashboard</a>
            </li>
        {% else %}
            <li>
                <a href="/login" class="mr-4 hover:underline md:mr-6">Login</a>
            </li>
        {% endif %}
        <li>
            <a href="/Impressum" class="mr-4 hover:underline md:mr-6">Impressum</a>
        </li>
    </ul>
</footer>
